/* Home Page Styles: */ 

.home-grid-wrapper {

}

.home__name {

}

.home__pottery-images {
	position: relative;
	display: flex;
	align-items: flex-end;
	border-bottom: 4px solid black;
}

.home-pottery__image {
	width: 50px;
}

.home-pottery__image {

}

.home-pottery__image {

}

.home__description {

}

.home__links {

}

.home-links__list {

}

.home-links__item {

}