---
layout: default
---

<main class="home-grid-wrapper">
	<h1 class="home__name">Kat<br/>Donnally<br/><span>Studio</span></h1>

	<section class="home__pottery-images" style="position: relative; display: flex; align-items: flex-end; border-bottom: 4px solid black;"">
		<img class="home-pottery__image" style="width: 50px;" src="{{ 'assets/img/svg/pottery/greek-vase-black.svg' | relative_url }}" alt="Black curvy vase">
		<img class="home-pottery__image" style="width: 55px;" src="{{ 'assets/img/svg/pottery/bowl-black.svg' | relative_url }}" alt="Black bowl">
		<!--img style="width: 50px;" src="{{ 'assets/img/svg/pottery/moon-vase-black.svg' | relative_url }}" alt="Black moon vase"-->
		<img class="home-pottery__image" style="width: 50px;" src="{{ 'assets/img/svg/pottery/mug-black.svg' | relative_url }}" alt="Black straight mug">
	</section>

	<section class="home__description">
		<p>{{ site.description }}</p>
	</section>

	<article class="home__links">
		<ul class="home-links__list">
		{% for page in site.pages %}
		{% if page.title %}
			<li class="home-links__item">
				<a href="{{ page.permalink | relative_url }}">{{ page.title }}</a>
			</li>
		{% endif %}
		{% endfor %}
		</ul>
	</article>
	
</main>