/* Font Variables: */ 

// reference for how to do with variable fonts:
/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

$oswald: "Oswald", sans-serif;
$poppins: "Poppins", sans-serif;
$inconsolata: "Inconsolata", monospace;