<header class="header-wrapper">
	<ul class="header__link-list">
		<li class="header-link-list__item">
			<a href="{{ site.url }}/{{ site.baseurl }}">
				{% include logo-white.svg %}
			</a>
		</li>
		<li class="header-link-list__item"><a href="{{ '/about' | relative_url }}">About</a></li>
		<li class="header-link-list__item"><a href="{{ '/contact' | relative_url }}">Contact</a></li>
		<li class="header-link-list__item"><a href="{{ '/portfolio' | relative_url }}">Portfolio</a></li>
	</ul>
</header>