/* Contact Page Styles: */ 

.contact-grid-wrapper {
	position: relative;
	display: grid;
	grid-template-areas: "title title"
						 "about sm"
						 "form form";
	grid-template-columns: 1fr 1fr;
	@media screen and (max-width: 900px) {
		grid-template-areas: "title"
							 "about"
							 "sm"
							 "form";
		grid-template-columns: 1fr;
	}
	@media screen and (min-width: 900px) {
		margin: 1.5rem auto;
		max-width: 900px;
	}
}

.contact__title {
	grid-area: title;
	border-bottom: 4px solid $dim-gray;
}

.contact__blurb {
	grid-area: about;
	position: relative;
	width: 100%;
	@media screen and (min-width: 900px) {
		padding-right: 1rem;
	}
}

.contact__sm-wrapper {
	grid-area: sm;
	padding: 1.5rem;
	margin: 1rem 0;
	border: 4px solid $dim-gray;
	@media screen and (min-width: 900px) {
		margin: 1.5rem 0;
	}
	@media screen and (max-width: 450px) {
		padding: 1rem;
	}

}

.contact-sm__title {
	margin: 0;
	margin-bottom: 1rem;
}

.contact-sm__list {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.contact-sm__item {
	display: flex;
	img {
		height: 1.5rem;
		padding-right: 1rem;
	}
	span {
		font-weight: bold;
		padding-right: 1rem;
	}
	a {
		color: $african-violet;
		transition: .3s color;
		&:hover, &:focus {
			color: black;
		}
	}
	@media screen and (max-width: 424px) {
		span {
			display: none;
		}
	}
}

.contact__form-wrapper {
	grid-area: form;
	margin: 1.5rem 0;
	div {
		iframe {
			width: 100%;
			height: 1200px;
			@media screen and (max-width: 700px) {
				height: 1250px;
			}
			@media screen and (min-width: 900px) {
				width: 900px;
				margin: 1.5rem 0;
			}
		}
	}
}