/* Home Page Styles: */ 

.home-grid-wrapper {
	display: grid;
	grid-template-areas: "title ..."
						 "title img"
						 "about about"
						 "links links";
	grid-template-rows: 1fr auto auto auto;
	@media screen and (min-width: 900px) {
		max-width: 900px;
		margin: 0 auto;
	}
}

.home__name {
	grid-area: title;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 0;
//	border-bottom: 4px solid black;
	span {
		color: $dim-gray;
		line-height: .9;
	}
	@media screen and (min-width: 900px) {
		font-size: 4rem;
	}
}

.home__pottery-images {
	grid-area: img;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	/* @media screen and (max-width: 600px) {
		flex-flow: column wrap;
	} */
//	border-bottom: 4px solid black;
}

img.home-pottery__image {
	margin-right: 1rem;
	width: 50px;
	@media screen and (max-width: 600px) {
		width: 40px;
	}
	@media screen and (min-width: 900px) {
		width: 65px;
	}
}

.home__description {
	grid-area: about;
	font-family: $inconsolata;
	font-weight: 300;
	
	border-top: 4px solid $african-violet;
	p {
		font-size: 1.5rem;	
		@media screen and (max-width: 600px) {
			font-size: 1rem;
		}
		@media screen and (min-width: 900px) {
			font-size: 2rem;
		}
	}
	
}

.home-links__list {
	grid-area: links;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	// flex-wrap: wrap
	list-style-type: none;
	@media screen and (max-width: 600px) {
		flex-flow: column nowrap;
		align-items: center;
	}
}

.home-links__item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
	border: 2px solid black;
	a {
		position: relative;
		display: block;
		text-decoration: none;
	}
}