/* Home Page Styles: */ 

.home-grid-wrapper {
	position: relative;
	display: grid;
	grid-template-areas: "title ..."
						 "title img"
						 "about about"
						 "links links";
	grid-template-rows: 1fr auto auto auto;
	width: 100%;
	@media screen and (min-width: 900px) {
		max-width: 900px;
		margin: 0 auto;
	}
	@media screen and (max-width: 360px) {
		grid-template-columns: 2fr 3fr;
	}
}

.home__name {
	grid-area: title;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 0;
//	border-bottom: 4px solid black;
	span {
		color: $dim-gray;
		line-height: .9;
	}
	@media screen and (min-width: 900px) {
		font-size: 4rem;
	}
}

.home__pottery-images {
	grid-area: img;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	@media screen and (max-width: 360px) {
		justify-content: flex-start;
	}
	
}

img.home-pottery__image {
	margin-right: 1rem;
	width: 50px;
	@media screen and (max-width: 600px) {
		width: 40px;
	}
	@media screen and (min-width: 900px) {
		width: 65px;
	}
	@media screen and (max-width: 360px) {
		margin-right: .25rem;
	}
}

.home__description {
	grid-area: about;
	font-family: $inconsolata;
	font-weight: 300;
	
	border-top: 4px solid $african-violet;
	p {
		font-size: 1.5rem;	
		@media screen and (max-width: 600px) {
			font-size: 1rem;
		}
		@media screen and (min-width: 900px) {
			font-size: 2rem;
		}
	}
	
}

ul.home-links__list {
	grid-area: links;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	// flex-wrap: wrap
	list-style-type: none;
	@media screen and (max-width: 425px) {
		flex-flow: column nowrap;
		width: 100%;
	//	align-items: center;
		margin: 1rem auto;
		li {
			margin: 1rem 0;
		}
	}
}

li.home-links__item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33%;
	aspect-ratio: 1/1;
	border: 2px solid black;
	@media screen and (max-width: 425px) {
		width: 100%;
	}
	@media screen and (min-width: 426px) {
		&:nth-of-type(2) {
			margin: 0 1rem;
		}
	}
}

.home-link__wrapper {
	position: relative;
	a {
		position: relative;
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.5rem;
		color: $dim-gray;
	}
	@media screen and (min-width: 768px) {
		a {
			font-size: 2rem;
		}
	}
	@media screen and (max-width: 425px) {
		width: 100%;
	}
	@media screen and (min-width: 426px) {
		&:nth-of-type(2) {
			margin: 0 1rem;
		}
	}
}