/* Home Page Styles: */ 

.home-grid-wrapper {

}

.home__name {

}

.home__pottery-images {
	position: relative;
	display: flex;
	align-items: flex-end;
	border-bottom: 4px solid black;
}

.home-pottery__image {
	width: 50px;
}

.home-pottery__image {

}

.home-pottery__image {

}

.home__description {

}

.home__links {
	position: relative;
}

.home-links__list {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	// flex-wrap: wrap
	list-style-type: none;
}

.home-links__item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
	border: 2px solid black;
	a {
		position: relative;
		display: block;
		text-decoration: none;
	}
}