/* Portfolio Page Styles: */ 

.portfolio-wrapper {

}

.portfolio__title {
	border-bottom: 4px solid $dim-gray;
}

// selector types

article[class*="portfolio__section"] {

}

.portfolio__section--bowls {

}

.portfolio__section--jars {

}

.portfolio__section--mugs {

}

.portfolio__section--planters {

}

.portfolio__section--vases {

}

// inside each section:

.portfolio-section__title {
	font-family: $oswald;
	font-weight: 500;
	border-bottom: 1px solid black;
	@media screen and (min-width: 900px) {
		font-size: 2.5rem;
	}
}

.portfolio-section__data-wrapper {
	position: relative;
	column-width: 300px;
	break-inside: avoid-column;
	column-gap: 1rem;
	ul {
		break-inside: avoid-column;
		padding-right: 1.5rem;
		li {

		}
	}
}

ul.portfolio__metadata-wrapper {
	position: relative;
	min-width: 250px;
	padding-left: 0;
	margin-top: 0;
	list-style-type: none;
}

li.portfolio-metadata__image {
	width: 100%;
	img {
		width: 100%;
	}
}

.portfolio-metadata__name {
	font-weight: bold;
}

.portfolio-metadata__details {
	font-family: $inconsolata;

	span {
		color: $dim-gray;
		&:first-of-type {

		}
		&:nth-of-type(2) {
			
		}
	}
}