---
---

/* Styles */

// Directories:
// 1. _layouts --> most general styles, apply to >1 page
// 2. _nav ------> header, footer styles
// 3. _pages ----> page-specific styles (docname = page name)
// 4. _vars -----> Sass variables for colors & font names

// Imports:
// - Purpose: puts together all tiny files into big file
// - Syntax:  '_dir/_filename.scss' -> @import '_dir/filename'
// - Order:   least-to-most specific, so cascade flows properly
//            (NB: vars first b/c can't invoke b/f define)

/* This is to use Liquid templating in CSS so that
   the links to background images actually work */
.home-links__item {
	background-size: 100%;
	//about
	&:nth-of-type(1) {
		background-image: url('{{ site.baseurl }}/assets/img/pottery/mugs/800/purple-tulip-mug-01-03-800w.png');
		background-size: 105%;
		background-position: left center;
	}
	//contact
	&:nth-of-type(2) {
		background-image: url('{{ site.baseurl }}/assets/img/pottery/bowls/800/turq-berry-bowl-01-01-800w.png');
	}
	//portfolio
	&:nth-of-type(3) {
		background-image: url('{{ site.baseurl }}/assets/img/background-pics/double-jars-800w.png');
	}
}

// vars:
@import '_vars/colors';
@import '_vars/fonts';

// layouts:
@import '_layouts/elements';
@import '_layouts/default';
@import '_layouts/general';

// nav:
@import '_nav/footer';
@import '_nav/header';

// pages:
@import '_pages/about';
@import '_pages/contact';
@import '_pages/home';
@import '_pages/portfolio';