// vars:
@use '../vars/colors' as colors;
@use '../vars/fonts' as fonts;


.popup-wrapper {
	scroll-snap-type: y mandatory;
	* {
		scrollbar-color: transparent transparent; /* thumb & track color */
		scrollbar-width: 0;
	}
}

/* 1. Portfolio Item Styles: */

.popup-dummy-wrapper {
	height: 400px;
	width: 400px;
	background-color: pink;
	list-style-type: none;
	padding: 1rem;
	li {

	}
}

.dummy-item__image-wrapper {
	img {
		height: 300px;
	}
}

.dummy-item__name {
	span {

	}
}

.dummy-item__metadata {

}

.dummy-item__content {

}

/* 2. Popup Styles: */

// main - dark background
.popup-bg-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: hsla(0, 0%, 0%, 75%);
	z-index: 2;
}

// inner main - white background
.popup-content-wrapper {
	position: relative;
	display: flex;
//	align-items: center;
	width: 80vw;
	height: 80vh;
	background-color: white;
	border: 4px solid black;
}

.popup-content__x-button {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	font-size: 1.5rem;
	line-height: 3rem;
	font-weight: 700;
	background-color: white;
	transition: background-color .3s;
	&:hover {
		cursor: pointer;
		background-color: colors.$african-violet;
	}
}

// ul
.popup-content__info {
	display: grid;
	grid-template-areas: "img . title"
						 "img . year"
						 "img . description"
						 "... . description";
	grid-template-rows: auto auto auto 1fr;
	grid-template-columns: auto 2rem 1fr;
	list-style: none;
	padding: 2rem;
	margin: 0;
	li {
		margin-left: 0;
	}
}


/* Image carousel: */

// li
.popup-item__carousel-wrapper {
	grid-area: img;
	position: relative;
	min-width: 250px;
	max-width: 300px;
	min-height: 0;
	padding-left: 0;
	margin-top: 0;
	list-style-type: none;
}

[class*="popup-nav"] {
	z-index: 4;
	position: absolute;
	top: 50%;
	font-size: 4rem;
	color: hsla(0, 0%, 100%, .7);
	transform: translate(0, -50%);
	cursor: pointer;
	transition: color .3s;
	&:hover, &:focus {
		color: white;
	}
}

.popup-nav-left {
	left: 0;
}

.popup-nav-right {
	right: 0;
}

// li
.popup-item__carousel-viewport {
	position: relative;
	border: 4px solid black;
	position: relative;
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

// ul
/*
.popup-item__image-list {
	position: relative;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
*/

// li
.popup-item__images {
	position: relative;
	width: 100%;
	scroll-snap-align: center;
	flex-shrink: 0;
	img {
		width: 100%;
		scroll-snap-align: center;
		overflow-x: scroll;
	}
}

/* Rest of data: */

.popup-item__name {
	grid-area: title;
	font-family: fonts.$oswald;
	font-weight: 700;
	font-size: 2.5rem;
}

.popup-item__metadata {
	grid-area: year;
	font-family: fonts.$inconsolata;
	font-size: 1.5rem;
}

.popup-item__content {
	grid-area: description;
	color: colors.$dim-gray;
	padding-top: 1.25rem;
	margin-top: 1.25rem;
	border-top: 2px solid colors.$dim-gray;
	p {
		font-size: 1.25rem;
		font-style: italic;
	}
}