---
title: Collections Testing
layout: default
permalink: /collections-testing/
---

<!-- BOWLS: -->
<h1>Bowls</h1>
{% for bowl in site.bowls %}
<h2>{{ bowl.name }} </h2>

{% assign images = bowl.image-set.first %}
<img src="{{ 'assets/img/pottery/bowls/1200/' | append: images.large | relative_url}}"
	 srcset="{{ 'assets/img/pottery/bowls/400/' | append: images.small | relative_url}} 400w,
	 {{ 'assets/img/pottery/bowls/800/' | append: images.medium | relative_url}} 800w,
	 {{ 'assets/img/pottery/bowls/1200/' | append: images.large | relative_url}} 1200w"
	 sizes="(max-width: 400px) 91.7vw,
	 		(max-width: 600px) 83.3vw,
	 		(min-width: 768px) 41.7vw,
	 		(min-width: 1100px) 27.7vw"
	 alt="{{ bowl.name }}"
/> <!-- end image -->

{% endfor %}
<!-- END BOWLS -->

<h1>Jars</h1>

<!-- JARS: -->
{% for jar in site.jars %}
<h2>{{ jar.name }}</h2>

{% assign images = jar.image-set.first %}
<img src="{{ 'assets/img/pottery/jars/1200/' | append: images.large | relative_url}}"
	 srcset="{{ 'assets/img/pottery/jars/400/' | append: images.small | relative_url}} 400w,
	 {{ 'assets/img/pottery/jars/800/' | append: images.medium | relative_url}} 800w,
	 {{ 'assets/img/pottery/jars/1200/' | append: images.large | relative_url}} 1200w"
	 sizes="(max-width: 400px) 91.7vw,
	 		(max-width: 600px) 83.3vw,
	 		(min-width: 768px) 41.7vw,
	 		(min-width: 1100px) 27.7vw"
	 alt="{{ jar.name }}"
/> <!-- end image -->

{% endfor %}
<!-- END JARS -->

<!-- MUGS: -->
<h1>Mugs</h1>

{% for mug in site.mugs %}
<h2>{{ mug.name }}</h2>

{% assign images = mug.image-set.first %}
<img src="{{ 'assets/img/pottery/mugs/1200/' | append: images.large | relative_url}}"
	 srcset="{{ 'assets/img/pottery/mugs/400/' | append: images.small | relative_url}} 400w,
	 {{ 'assets/img/pottery/mugs/800/' | append: images.medium | relative_url}} 800w,
	 {{ 'assets/img/pottery/mugs/1200/' | append: images.large | relative_url}} 1200w"
	 sizes="(max-width: 400px) 91.7vw,
	 		(max-width: 600px) 83.3vw,
	 		(min-width: 768px) 41.7vw,
	 		(min-width: 1100px) 27.7vw"
	 alt="{{ mug.name }}"
/> <!-- end image -->

{% endfor %}
<!-- END MUGS -->

<!-- PLANTERS: -->
<h1>Planters</h1>
{% for planter in site.planters %}
<h2>{{ planter.name }}</h2>

{% assign images = planter.image-set.first %}
<img src="{{ 'assets/img/pottery/planters/1200/' | append: images.large | relative_url}}"
	 srcset="{{ 'assets/img/pottery/planters/400/' | append: images.small | relative_url}} 400w,
	 {{ 'assets/img/pottery/planters/800/' | append: images.medium | relative_url}} 800w,
	 {{ 'assets/img/pottery/planters/1200/' | append: images.large | relative_url}} 1200w"
	 sizes="(max-width: 400px) 91.7vw,
	 		(max-width: 600px) 83.3vw,
	 		(min-width: 768px) 41.7vw,
	 		(min-width: 1100px) 27.7vw"
	 alt="{{ planter.name }}"
/> <!-- end image -->

{% endfor %}
<!-- END PLANTERS -->

<!-- VASES: -->
<h1>Vases</h1>

{% for vase in site.vases %}
<h2>{{ vase.name }}</h2>

{% assign images = vase.image-set.first %}
<img src="{{ 'assets/img/pottery/vases/1200/' | append: images.large | relative_url}}"
	 srcset="{{ 'assets/img/pottery/vases/400/' | append: images.small | relative_url}} 400w,
	 {{ 'assets/img/pottery/vases/800/' | append: images.medium | relative_url}} 800w,
	 {{ 'assets/img/pottery/vases/1200/' | append: images.large | relative_url}} 1200w"
	 sizes="(max-width: 400px) 91.7vw,
	 		(max-width: 600px) 83.3vw,
	 		(min-width: 768px) 41.7vw,
	 		(min-width: 1100px) 27.7vw"
	 alt="{{ vase.name }}"
/> <!-- end image -->

{% endfor %}
<!-- END MUGS -->