---
title: Pop Up Window
layout: default
permalink: /popup/
menu: 1
---

{% assign bowls = site.bowls | where: "show", "true" %}
{% assign bowl = bowls[0] %}

<main class="popup-wrapper">

<h1>Popup</h1>

<ul class="popup-dummy-wrapper">
	<!-- eventually be carousel images -->
	{% assign images = bowl.image-set[0] %}
	<li class="dummy-item__image-wrapper">
		<img src="{{ 'assets/img/pottery/bowls/600/' | append: images.medium | relative_url}}" alt="{{ bowl.name }}"/>
	</li>
	<li class="dummy-item__name">{{ bowl.name }}</li>
	<li class="dummy-item__metadata"><span>{{ bowl.clay }}</span>, <span>{{ bowl.year }}</span></li>
	<li class="dummy-item__content">{{ bowl.content }}</li>
	
</ul>

<!-- BOWLS -->
<article class="portfolio__section--bowls" id="section--bowls">
	<h2 class="portfolio-section__title" >Bowls</h2>
	<div class="portfolio-section__data-wrapper">
		{% for bowl in bowls %}
		<ul class="portfolio__metadata-wrapper" >
			<!-- images -->
			<li class="portfolio-metadata__carousel-wrapper">
				<div class="js-nav-left">&lsaquo;</div>
				<div class="js-nav-right">&rsaquo;</div>
				<ul class="portfolio-metadata__carousel-viewport">
					{% for images in bowl.image-set %}
					<li class="portfolio-metadata__images" tabindex="0">
						<img loading="eager"
							 src="{{ 'assets/img/pottery/bowls/600/' | append: images.medium | relative_url}}"
							 alt="{{ bowl.name }}"
						/> 
					</li> <!-- end image -->
					{% endfor %} <!-- end images in bowl.image-set -->
				</ul> <!-- end carousel viewport -->
			</li> <!-- end images -->
			<li class="portfolio-metadata__name">{{ bowl.name }}</li>
			<li class="portfolio-metadata__details"><span>{{ bowl.clay | capitalize }}</span>, <span>{{ bowl.year }}</span></li>
			<li class="portfolio-metadata__content">{{ bowl.content }}</li>
		</ul>
		{% endfor %} <!-- end 'for bowl in bowls' -->
	</div>
</article> <!-- end bowls -->


<main class="popup-bg-wrapper">
	<main class="popup-content-wrapper">
		<section class="popup-content__x-button">X</section>
		<ul class="popup-content__info">
			<li class="popup-item__image-wrapper"></li>
			<li class="popup-item__name"></li>
			<li class="popup-item__metadata"></li>
			<li class="popup-item__content"></li>
		</ul>
	</main>
</main>

</main>