---
title: Portfolio
layout: default
permalink: /portfolio/
menu: 1
---

<main class="portfolio-wrapper">

	<h1 class="portfolio__title">Portfolio</h1>

	{% assign bowls = site.bowls %}
	{% assign jars = site.jars %}
	{% assign mugs = site.mugs %} <!-- also cups -->
	{% assign planters = site.planters %}
	{% assign vases = site.vases %}

	<aside class="portfolio__nav-wrapper">
		<ul class="portfolio-nav__link-list">
			<li class="portfolio-nav__item"><a href="#section--bowls" class="portfolio-nav__link">Bowls</a></li>
			<li class="portfolio-nav__item"><a href="#section--jars" class="portfolio-nav__link">Jars</a></li>
			<li class="portfolio-nav__item"><a href="#section--mugs" class="portfolio-nav__link">Mugs</a></li>
			<li class="portfolio-nav__item"><a href="#section--planters" class="portfolio-nav__link">Planters</a></li>
			<li class="portfolio-nav__item"><a href="#section--vases" class="portfolio-nav__link">Vases</a></li>
		</ul>
	</aside>

	<!-- BOWLS -->
	<article class="portfolio__section--bowls" id="section--bowls">
		<h2 class="portfolio-section__title" >Bowls</h2>
		<div class="portfolio-section__data-wrapper">
			{% for bowl in bowls %}
			{% assign basename = bowl.name | slugify %}
			<ul class="portfolio__metadata-wrapper" >
				<!-- images -->
				<li class="portfolio-metadata__carousel-wrapper">
					<div class="js-nav-left">&lsaquo;</div>
					<div class="js-nav-right">&rsaquo;</div>
					<ul class="portfolio-metadata__carousel-viewport">
						{% for images in bowl.image-set %}
						<li class="portfolio-metadata__images" tabindex="0">
							<img loading="eager"
								 src="{{ 'assets/img/pottery/bowls/600/' | append: images.medium | relative_url}}"
								 alt="{{ bowl.name }}"
							/> 
						</li> <!-- end image -->
						{% endfor %} <!-- end images in bowl.image-set -->
					</ul> <!-- end carousel viewport -->
				</li> <!-- end images -->
				<li class="portfolio-metadata__name">{{ bowl.name }}</li>
				<li class="portfolio-metadata__details"><span>{{ bowl.clay | capitalize }}</span>, <span>{{ bowl.year }}</span></li>
			</ul>
			{% endfor %} <!-- end 'for bowl in bowls' -->
		</div>
	</article> <!-- end bowls -->

	<!-- JARS -->
	<article class="portfolio__section--jars" id="section--jars">
		<h2 class="portfolio-section__title" >Jars</h2>
		<div class="portfolio-section__data-wrapper">
			{% for jar in jars %}
			<ul class="portfolio__metadata-wrapper" >
				<!-- images -->
				<li class="portfolio-metadata__carousel-wrapper">
					<div class="js-nav-left">&lsaquo;</div>
					<div class="js-nav-right">&rsaquo;</div>
					<ul class="portfolio-metadata__carousel-viewport">
						{% for images in jar.image-set %}
						<li class="portfolio-metadata__images" tabindex="0">
							<img loading="lazy"
								 src="{{ 'assets/img/pottery/jars/600/' | append: images.medium | relative_url}}"
								 alt="{{ jar.name }}"
							/> 
						</li> <!-- end image -->
						{% endfor %} <!-- end images in jar.image-set -->
					</ul> <!-- end carousel viewport -->
				</li> <!-- end images -->
				<li class="portfolio-metadata__name">{{ jar.name }}</li>
				<li class="portfolio-metadata__details"><span>{{ jar.clay | capitalize }}</span>, <span>{{ jar.year }}</span></li>
			</ul>
			{% endfor %}
		<div class="portfolio-data-wrapper">
	</article>
	<!-- end jars -->

	<!-- MUGS -->
	<article class="portfolio__section--mugs" id="section--mugs">
		<h2 class="portfolio-section__title" >Mugs</h2>
		<div class="portfolio-section__data-wrapper">
			{% for mug in mugs %}
			<ul class="portfolio__metadata-wrapper" >
				<!-- images -->
				<li class="portfolio-metadata__carousel-wrapper">
					<div class="js-nav-left">&lsaquo;</div>
					<div class="js-nav-right">&rsaquo;</div>
					<ul class="portfolio-metadata__carousel-viewport">
						{% for images in mug.image-set %}
						<li class="portfolio-metadata__images" tabindex="0">
							<img loading="lazy"
								 src="{{ 'assets/img/pottery/mugs/600/' | append: images.medium | relative_url}}"
								 alt="{{ mugs.name }}"
							/> 
						</li> <!-- end image -->
						{% endfor %} <!-- end images in mug.image-set -->
					</ul> <!-- end carousel viewport -->
				</li> <!-- end images -->
				<li class="portfolio-metadata__name">{{ mug.name }}</li>
				<li class="portfolio-metadata__details"><span>{{ mug.clay | capitalize }}</span>, <span>{{ mug.year }}</span></li>
			</ul>
			{% endfor %}
		</div>
	</article>
	<!-- end mugs -->

	<!-- PLANTERS -->
	<article class="portfolio__section--planters" id="section--planters">
		<h2 class="portfolio-section__title" >Planters</h2>
		<div class="portfolio-section__data-wrapper">
			{% for planter in planters %}
			<ul class="portfolio__metadata-wrapper" >
				<!-- images -->
				<li class="portfolio-metadata__carousel-wrapper">
					<div class="js-nav-left">&lsaquo;</div>
					<div class="js-nav-right">&rsaquo;</div>
					<ul class="portfolio-metadata__carousel-viewport">
						{% for images in planter.image-set %}
						<li class="portfolio-metadata__images" tabindex="0">
							<img loading="lazy"
								 src="{{ 'assets/img/pottery/planters/600/' | append: images.medium | relative_url}}"
								 alt="{{ planter.name }}"
							/> 
						</li> <!-- end image -->
						{% endfor %} <!-- end images in planter.image-set -->
					</ul> <!-- end carousel viewport -->
				</li> <!-- end images -->
				<li class="portfolio-metadata__name">{{ planter.name }}</li>
				<li class="portfolio-metadata__details"><span>{{ planter.clay | capitalize }}</span>, <span>{{ planter.year }}</span></li>
			</ul>
			{% endfor %}
		</div>
	</article>
	<!-- end planters -->

	<!-- VASES -->
	<article class="portfolio__section--vases" id="section--vases">
		<h2 class="portfolio-section__title" >Vases</h2>
		<div class="portfolio-section__data-wrapper">
			{% for vase in vases %}
			<ul class="portfolio__metadata-wrapper" >
				<!-- images -->
				<li class="portfolio-metadata__carousel-wrapper">
					<div class="js-nav-left">&lsaquo;</div>
					<div class="js-nav-right">&rsaquo;</div>
					<ul class="portfolio-metadata__carousel-viewport">
						{% for images in vase.image-set %}
						<li class="portfolio-metadata__images" tabindex="0">
							<img loading="lazy"
								 src="{{ 'assets/img/pottery/vases/600/' | append: images.medium | relative_url}}"
								 alt="{{ vase.name }}"
							/> 
						</li> <!-- end image -->
						{% endfor %} <!-- end images in vase.image-set -->
					</ul> <!-- end carousel viewport -->
				</li> <!-- end images -->
				<li class="portfolio-metadata__name">{{ vase.name }}</li>
				<li class="portfolio-metadata__details"><span>{{ vase.clay | capitalize }}</span>, <span>{{ vase.year }}</span></li>
			</ul>
			{% endfor %}
		</div>
	</article>
	<!-- end vases -->

</main>

